:root{
    --blue: #23A6F0;
}
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.showcase{
    background-image: url("/images/showcase.png");
    height: 100vh;
    background-size: cover;
    opacity: 30px;
    background-repeat: no-repeat;
}
.top-nav{
    display: flex;
    flex-direction: row;
    color: white;
    /* align-items: center; */

}
.main-nav ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 20%;
    margin-top: 2%;
    
    
}
.main-nav ul li a{
    padding: 0 16px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}
 .main-nav ul li span .last {
    margin-right: 10px;
    color: red;
}
.showcase-text{
    position: relative;
     text-align: center; 
     padding-top: 10%;

}
.showcase-text .bold{
    font-size: 4vw;
    font-weight: 900;
    color: white;
   
}
.showcase .plain{
font-size: 2vw;
font-weight: 400;
color: white;
}
.showcase-btn .quote{
    color: white;
    background-color: var(--blue);
    width: 9vw;
    height: 3vw;
    border-radius: 20px
}
.showcase-btn .learn-more {
    color: white;
    background: none;
    width: 9vw;
    height: 3vw;
    border-radius: 20px
}
